@-webkit-keyframes bounce {
  0% {
      top: 0;
  }
  50% {
      top: 10px;
  }
  100% {
      top: 0;
  }
}

@keyframes bounce {
  0% {
      top: 0;
  }
  50% {
      top: 10px;
  }
  100% {
      top: 0;
  }
}

@-webkit-keyframes fadeFromBottom {
0% {
  opacity: 0;
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
}
100% {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
}

@keyframes fadeFromBottom {
0% {
  opacity: 0;
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
}
100% {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
}