:root {
    --color-background-login: #f7f7f9;
    --color-link: #1663dd;
    --color-label: #636e85;
    --color-error: #cc000d;
    --color-white: #FFFFFF;
    --font: 'Montserrat', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-background-login);
    font-family: var(--font);
}

header {
    background-color: var(--color-white);
    padding: 0 40px;
    width: 100vw;
    height: 64px;
    display: flex;
    box-shadow: 0 1px 0 0 #f0f1f5;
    align-items: center;
}

header img {
    height: 24px;
    width: auto;
}

.login_form_container,
.register_form_container { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-white);
    margin: 0 auto;
    margin-top: 50px;
    width: 450px;
    padding: 40px 48px;
    box-shadow: 0px 10px 20px -5px rgba(0,0,0,0.08);
}

.register_form_container {
    margin-top: 0;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.08);
}

.login_form_container h2 {
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.25px;
    line-height: 29px;
}

.login_form_container p,
.register_form_container p {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #636e85;
    text-align: center;
    margin: 16px 0 32px;
}

.login_form_container p a,
.register_form_container p a {
    color: var(--color-link);
}

.register_header_h2 {
    color: #040405;
    font-size: 1.75rem;
    font-weight: bold;
    letter-spacing: -0.03125rem;
    margin: 0;
    text-align: center;
    margin-top: 36px;
}

.register_header_h4 {
    font-size: 0.875rem;
    padding: 0 30px;
    color: var(--color-label);
    font-size: 0.8125rem;
    font-weight: normal;
    line-height: 1.3125rem;
    margin-top: 10px;
    padding: 0 25px;
    white-space: normal;
    max-width: 525px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 24px;
    text-align: center;
}

form label {
    display: block;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    margin-top: 20px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    color: var(--color-label);
}

form input {
    width: 100%;
    height: 48px;
    padding: 8px 16px;
    margin-top: 10px;
    border: 1px solid #636e85;
    border-radius: 4px;
    outline: none;
    letter-spacing: 0.5px;
    font-size: 16px;
    line-height: 24px;
}

form input.error,
form select.error {
    border-color: var(--color-error);
}

form .birthdate_selectors {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

#gender {
    margin-top: 10px;
    width: 100%;
}

.birthdate_selectors .month select,
.birthdate_selectors .day select,
.birthdate_selectors .year select,
#gender {
    border-radius: 4px;
    appearance: none;
    padding: 10px;
    height: 3rem;
    width: 100%;
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 8px 4px;
    background-image: url("/images/dropdown-arrow.png");
}


.birthdate_selectors .month,
.birthdate_selectors .day,
.birthdate_selectors .year {
    width: 30%;
}

#error_email,
#error_password,
#error_name,
#error_day,
#error_month,
#error_year,
#error_gender {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
    gap: 3px;
    font-size: 12px;
    line-height: 18px;
    color: var(--color-error);
    opacity: 0;
}

#password_rule {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
    gap: 3px;
    font-size: 10px;
    line-height: 18px;
}

#error_email.active,
#error_password.active,
#error_name.active,
#error_day.active,
#error_month.active,
#error_year.active,
#error_gender.active {
    opacity: 1;
}

.terms {
    width: 70%;
    margin: 35px 10px 25px;
    padding: 0;
    text-align: center;
    font-size: 0.75rem;
    line-height: 1.375rem;
    color: #636e85;
}

#continue {
    cursor: default;
    background: rgba(39, 44, 53, 0.5);
    border-color: #dde0e6;
    color: #b9bfc8;
    height: 40px;
    max-width: 400px;
    width: 100%;
    border: none;
    font-size: 0.875rem;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 10px;
}

#continue:hover,
#submit:hover {
    cursor: pointer;
}

footer {
   display: flex;
   justify-content: center;
   margin: 330px 0 50px 0;
}

.footer_links {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.footer_links li a {
    color: #636e85;
    cursor: pointer;
}