@media (max-width: 770px) {
    .burger-button {
        display: flex;
    }

    .mobile-menu ul li a {
        color: var(--color-white);
    }

    header .log_in {
        display: none;
    }

    footer {
        padding: 0 30px;
    }

    footer .navigations {
        grid-template-rows: unset !important;
    }

    .help_and_about_us {
        display: flex !important;
        flex-direction: column;
        gap: 16px;
    }

    .navigations h3 {
        margin: 0;
    }

    .browse,
    .help,
    .about_us {
        border-bottom: 1px solid #d9dce2;
        padding: 32px 0;
    }

    #browse_arrow,
    #help_arrow,
    #about_us_arrow {
        display: inline-block;
    }

    #browse_arrow.transformed,
    #help_arrow.transformed,
    #about_us_arrow.transformed {
        transform: rotateX(180deg);
    }

    .links,
    .help_links,
    .about_us_links {
        display: flex !important;
        flex-direction: column;
        gap: 16px;
        max-height: 0;
        overflow: hidden;
        transition: all .5s ease;
    }

    .help_links,
    .about_us_links {
        gap: unset;
    }

    .links.shown,
    .help_links.shown,
    .about_us_links.shown {
        margin-top: 32px;
        max-height: 1000px;
    }

    .login_form_container {
        width: 90%;
    }

    footer {
        margin-top: 100px;
    }

    .footer_links {
        justify-content: center;
    }
}

@media (max-width: 800px) {
    .inner_footer,
    .inner_footer .inner_footer_left {
        flex-direction: column;
        margin: 0;
    }
}

@media (max-width: 1000px) {
    footer .navigations {
        grid-template-columns: unset;
        grid-template-rows: 1fr 1fr;
        row-gap: 8px;
    }
}

@media (max-width: 1200px) {
    .plans_header .choice_switcher {
        flex-direction: column;
    }

    .base_plans_choice,
    .bundle_save_choice {
        align-items: center !important;
    }

    .white_button {
        width: 150px;
    }
}

@media (max-width: 1650px) {
    .movies_container { 
        grid-template-columns: repeat(2, 500px);
        grid-template-rows: repeat(2, 700px);
        row-gap: 30px;
    }
}