@media (max-width: 770px) {
    .burger-button {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .mobile-menu ul li a {
        color: var(--color-white);
    }

    header .log_in {
        display: none;
    }

    footer {
        padding: 0 30px;
    }

    footer .navigations {
        -ms-grid-rows: unset !important;
        grid-template-rows: unset !important;
    }

    .help_and_about_us {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 16px;
    }

    .navigations h3 {
        margin: 0;
    }

    .browse,
    .help,
    .about_us {
        border-bottom: 1px solid #d9dce2;
        padding: 32px 0;
    }

    #browse_arrow,
    #help_arrow,
    #about_us_arrow {
        display: inline-block;
    }

    #browse_arrow.transformed,
    #help_arrow.transformed,
    #about_us_arrow.transformed {
        -webkit-transform: rotateX(180deg);
                transform: rotateX(180deg);
    }

    .links,
    .help_links,
    .about_us_links {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 16px;
        max-height: 0;
        overflow: hidden;
        -webkit-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
    }

    .help_links,
    .about_us_links {
        gap: unset;
    }

    .links.shown,
    .help_links.shown,
    .about_us_links.shown {
        margin-top: 32px;
        max-height: 1000px;
    }

    .login_form_container,
    .register_form_container {
        width: 90%;
    }

    footer {
        margin-top: 100px;
    }

    .footer_links {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    #continue {
        width: 90%;
    }

    .bundle_plans table tr td {
        padding: 30px 2px;
        font-size: 8px;
    }

    .bundle_plans table tr td p {
        padding: 30px 0;
        font-size: 10px !important;
    }

    .crossed_text {
        font-size: 8px !important;
    }

    .plans_header .td_header {
        font-size: 10px !important;
    }
}

@media (max-width: 800px) {
    .inner_footer,
    .inner_footer .inner_footer_left {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin: 0;
    }
}

@media (max-width: 1000px) {
    footer .navigations {
        -ms-grid-columns: unset;
        grid-template-columns: unset;
        -ms-grid-rows: 1fr 8px 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 8px;
    }
    footer .navigations > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    footer .navigations > *:nth-child(2) {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }

    #recommendations {
        padding: 90px 20px;
    }

    .inner_top img {
        width: 80%;
        height: auto;
    }

    .inner_header ul li {
        font-size: 10px;
    }

    .inner_header,
    #about_hulu .inner_section {
        left: 5%;
        max-width: 90%;
    }

    #plans {
        text-align: center;
    }

    .bundle_save_choice img,
    .white_button,
    .trio_basic img, 
    .trio_premium img, 
    .hulu_live img {
        width: 100% !important;
    }

    .white_button {
        height: 80px !important;
    }

    .adds_on table tr td {
        padding: 30px 0;
    }
}

@media (max-width: 1200px) {
    .plans_header .choice_switcher {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .base_plans_choice,
    .bundle_save_choice {
        -webkit-box-align: center !important;
            -ms-flex-align: center !important;
                align-items: center !important;
    }

    .white_button {
        width: 150px;
    }
}

@media (max-width: 1650px) {
    .movies_container { 
        -ms-grid-columns: (500px)[2]; 
        grid-template-columns: repeat(2, 500px);
        -ms-grid-rows: 700px 30px 700px;
        grid-template-rows: repeat(2, 700px);
        row-gap: 30px;
    }
    .movies_container > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .movies_container > *:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }
    .movies_container > *:nth-child(3) {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }
    .movies_container > *:nth-child(4) {
        -ms-grid-row: 3;
        -ms-grid-column: 2;
    }
}