:root {
    --color-green: rgb(28, 231, 131);
    --color-gray: rgb(168, 175, 189);
    --color-white: rgb(255, 255, 255);
    --color-white-6: rgba(255, 255, 255, 0.6);
    --color-white-4: rgba(255, 255, 255, 0.4);
    --color-background-black: rgb(11, 12, 15);
    --font: 'Montserrat', sans-serif;
    --letter-spacing-6: 0.6px;
    --button-border-radius: 4px;
}

section {
    font-family: var(--font);
}

header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px;
}

header img {
    width: 61px;
    height: 24px;
}

header a {
    color: var(--color-gray);
    text-transform: uppercase;
}

header img:hover,
header a:hover,
#get_both:hover,
.inner_footer_buttons button:hover,
.recommendations_inner_bottom a:hover,
#arrow-down:hover,
.movie-tile:hover,
#arrow-left:hover,
#arrow-right:hover,
.inner_header ul li:hover {
    cursor: pointer;
}

#top_section {
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    background-image: url("../images/streaming.jpeg");
}

#top_section::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

#top_section .inner_top {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 40px;
}

.inner_top h4:first-child,
.inner_footer h4:first-child,
#recommendations h4,
.recommendations_inner_bottom h4 {
    color: var(--color-green);
    margin-bottom: 17px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: var(--letter-spacing-6);
}

.inner_top h4:not(:first-child),
.inner_footer h4:not(:first-child),
#recommendations h2,
.recommendations_inner_bottom h2 {
    color: var(--color-white);
    margin-top: 16px;
    font-weight: 500;
    font-size: 24px;
}

.inner_footer h4:not(:first-child) {
    font-weight: 400;
}

.inner_top img {
    width: 400px;
    height: 110px;
}

#get_both {
    width: 50%;
    height: 48px;
    margin-top: 25px;
    margin-bottom: 16px;
    color: #000000;
    background-color: var(--color-green);
    border: none;
    font-weight: 600;
    letter-spacing: var(--letter-spacing-6);
    text-transform: uppercase;
    border-radius: var(--button-border-radius);
}

.inner_top .terms,
.inner_top #sign_up_hulu,
.inner_footer_buttons a {
    color: var(--color-white);
    text-decoration: underline;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.inner_top #sign_up_hulu { 
    margin-top: 10px;
}

.inner_footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px 40px;
}

.inner_footer .inner_footer_left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-right: 30px;
}

.inner_footer_left img {
    width: 340px;
    height: 75px;
}

.inner_footer_left .align_left {
    text-align: start;
}

.inner_footer_buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inner_footer_buttons button {
    background-color: var(--color-green);
    border: none;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing-6);
    width: 160px;
    height: 45px;
    border-radius: var(--button-border-radius);
}

.inner_footer_buttons .terms {
    color: #FFFFFF;
    opacity: 0.7;
    font-size: 10px;
}

#recommendations {
    width: 100vw;
    padding: 90px 200px;
    background-color: var(--color-background-black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#recommendations h4, 
.recommendations_inner_bottom h4 {
    font-size: 14px;
}
#recommendations h2 {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 36px;
}

#recommendations p.exclusive {
    color: var(--color-white);
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

#recommendations p.premium {
    font-size: 10px;
    font-weight: 400;
    line-height: 1.46;
    width: 100%;
    color: var(--color-white);
    text-align: end;
    margin-top: 10px;
}

.recommendations_inner_bottom { 
    margin-top: 160px;
    position: relative;
}

.recommendations_inner_bottom h3 {
    color: var(--color-white);
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.32;
    margin-top: 26px;
    margin-bottom: 8px;
}

.recommendations_inner_bottom p.restrictions {
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.46;
    margin-top: 18px;
    margin-bottom: 16px;
    color: var(--color-white-6);
}

.recommendations_inner_bottom a {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: .6px;
    line-height: 1;
    text-transform: uppercase;
    border-bottom: 1px solid #FFFFFF;
    color: var(--color-white);
}

.recommendations_inner_bottom a i {
    margin-left: 20px;
}

#arrow-down {
    display: block;
    margin-top: 40px;
    animation: bounce 2s linear infinite;
    position: relative;
}

.swiper {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    gap: 20px;
    width: 100%;
}

#arrow-left,
#arrow-right {
    display: none;
    z-index: 1;
}

.swiper.active #arrow-left,
.swiper.active #arrow-right {
    display: block;
    transform: rotate(90deg);
}

.swiper.active #arrow-right {
    transform: rotate(-90deg);
}

.movies_container {
    display: grid;
    width: 100%;
    min-height: 500px;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    margin-top: 50px;
    column-gap: 30px;
    transition: transform 0.3s ease-in-out;
}

.swiper.active .movies_container {
    grid-template-columns: repeat(10, 300px);
    column-gap: 30px;
    grid-template-rows: unset;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.movie-tile {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    flex: 0 0 300px; 
}

.movie-tile::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.movie_banner {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.movie-tile h3,
.movie-tile h4 {
    text-align: start;
    position: relative;
    top: -95%;
    padding-left: 30px;
    z-index: 2;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.24;
    color: var(--color-white) !important;
}

.movie-tile h4 {
    font-size: 16px !important;
    font-weight: 500 !important;
    margin-bottom: 0 !important;
    line-height: 1.36;
}

#about_hulu {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100vw;
    height: 100vh;
}

.inner_header {
    position: absolute;
    top: 20%;
    left: 20%;
    z-index: 2;
}

.inner_header ul {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.inner_header ul li {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.125;
    letter-spacing: 0.25px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--color-white-4);
}

.inner_header .slide {
    width: 81px;
    height: 5px;
    margin-top: 15px;
    background-color: var(--color-white);
    transition: linear 0.3s;
}

.inner_header ul li.active {
    color: #c8c8c8;
}

#about_hulu img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: linear 0.3s;
}

#about_hulu .hide {
    display: none !important;
}

#about_hulu .inner_section {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 20%;
    top: calc((20% + 60px));
    max-width: 450px;
    color: var(--color-white);
    animation: fadeFromBottom 0.5s ease-out;
}

.inner_section h2 {
    font-size: 48px;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: -0.5px;
}

.inner_section p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.36;
    letter-spacing: 0;
    margin-top: 18px;
}

.inner_section p.bottom {
    line-height: 1;
    font-size: 9px;
    hyphens: auto;
    text-align: justify;
    margin-top: 10px;
}

.inner_section p.bottom a {
    color: hsla(0,0%,100%,.6);
    text-decoration: none;
    border-bottom: 1px solid hsla(0,0%,100%,.6);
}

.inner_section .logos {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.logos .logo_container {
    background-color: var(--color-white);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
}

.logo_container img {
    width: auto !important;
    height: 25px !important;
    margin: 0 auto !important;
}

@keyframes fadeFromBottom {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}